@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
}

#__next {
  min-height: 100vh;
  max-width: 100vw;
}

html {
  --foreground: #2a235c;
  --background-start: #2a235c;
  --background-end: #2a235c;
  --white-rbg-color: 255, 255, 255;
  --green-rbg-color: 0, 212, 113;
}

@media (prefers-color-scheme: dark) {
  html {
    --foreground: #2a235c;
    --background-start: #2a235c;
    --background-end: #2a235c;
    --secundary-background: #84e296;
  }
}

h2 {
  font-family: "Roboto Mono", monospace !important;
}

body {
  color: var(--foreground);
  background: var(--background-end);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #f25d76;
}

@keyframes ripple {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.glass-card {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.home-container {
  padding: 20px;
}

.section {
  margin: 50px 0;
}

.heading {
  font-size: 2.5em;
  color: #333;
  transition: color 0.3s;
}

.paragraph {
  font-size: 1.2em;
  color: #666;
  transition: color 0.3s;
}

.active {
  color: #6e32e1 !important;
}

.group:hover .pull-corner::after {
  opacity: 1;
  transform: translateY(-2px);
}

.blackhole {
  width: 20em;
  height: 6em;
  transform: scaleY(0.4);
}

.blackhole .megna {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at center, #ff4500, #ff9900);
  box-shadow: 0 0 30px 15px #fcbd3e, 0 0 50px 30px #fd7a4d,
    0 0 70px 45px #ff0b6b;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(4px);
  animation: pulse 2s ease-in-out infinite;
}

.blackhole .black {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: black;
  animation: distort 3s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    filter: blur(4px);
    box-shadow: 0 0 30px 15px #fcbd3e, 0 0 50px 30px #fd7a4d,
      0 0 70px 45px #ff0b6b;
  }
  50% {
    filter: blur(6px);
    box-shadow: 0 0 40px 20px #fcbd3e, 0 0 60px 40px #fd7a4d,
      0 0 80px 55px #ff0b6b;
  }
}

@keyframes distort {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
}

.custom-btn {
  font-weight: 600;
  color: #fff;
  width: 200px;
  height: 40px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-7 {
  color: #a68cfb;
  shadow: 0 0 5px #ec4899;
  line-height: 40px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #a68cfb;
  box-shadow: 0 0 5px #ec4899;
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 50%;
  width: 2px;
}

.btn-7:after {
  width: 20%;
  height: 2px;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #a68cfb;
  box-shadow: 0 0 5px #ec4899;
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 50%;
}

.btn-7 span:after {
  height: 2px;
  width: 20%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}

.neon-circle {
  position: absolute;
  right: 0px;
  overflow: hidden;
  top: -50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #3df58c;
  filter: blur(1px);
  box-shadow: 0 0 2px #3df58c, 0 0 4px #3df58c, 0 0 6px #3df58c, 0 0 8px #3df58c;
  background: transparent;
}

.glitch-text {
  position: relative;
  color: #e64765;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.glitch-text::before {
  color: #67f3da;
  clip: rect(0, 900px, 0, 0);
  animation: glitchTop 1s infinite linear alternate-reverse;
}

.glitch-text::after {
  color: #f16f6f;
  clip: rect(0, 900px, 0, 0);
  animation: glitchBottom 1s infinite linear alternate-reverse;
}

@keyframes glitchTop {
  0% {
    clip: rect(0, 900px, 0, 0);
    transform: translate(0, 0);
  }
  10% {
    clip: rect(0, 900px, 10px, 0);
    transform: translate(-2px, -2px);
  }
  20% {
    clip: rect(0, 900px, 5px, 0);
    transform: translate(2px, 2px);
  }
  30% {
    clip: rect(0, 900px, 15px, 0);
    transform: translate(-2px, 2px);
  }
  40% {
    clip: rect(0, 900px, 10px, 0);
    transform: translate(2px, -2px);
  }
  50%,
  100% {
    clip: rect(0, 900px, 0, 0);
    transform: translate(0, 0);
  }
}

@keyframes glitchBottom {
  0% {
    clip: rect(0, 900px, 0, 0);
    transform: translate(0, 0);
  }
  10% {
    clip: rect(5px, 900px, 10px, 0);
    transform: translate(2px, 2px);
  }
  20% {
    clip: rect(10px, 900px, 15px, 0);
    transform: translate(-2px, -2px);
  }
  30% {
    clip: rect(5px, 900px, 10px, 0);
    transform: translate(2px, -2px);
  }
  40% {
    clip: rect(10px, 900px, 15px, 0);
    transform: translate(-2px, 2px);
  }
  50%,
  100% {
    clip: rect(0, 900px, 0, 0);
    transform: translate(0, 0);
  }
}

.stroke-white {
  -webkit-text-stroke: 2px white;
}

.bold-text {
  font-family: "Anton", sans-serif;
}

.marquee-container {
  width: 100%;
  height: 350px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: transparent;
}

@media (max-width: 500px) {
  .marquee-container {
    height: 200px;
  }
}

.marquee {
  position: relative;
  width: 100%;
  white-space: nowrap;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.marquee-track {
  display: inline-flex;
  width: max-content;
  animation: scroll 40s linear infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}
.marquee-track-reverse {
  display: inline-flex;
  width: max-content;
  animation: scroll 40s linear infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(33.333%);
  }
}

.marquee-track .content {
  display: flex;
}

.marquee-track .content.top {
  padding: 10px;
  background-color: #0f172a;
}

.marquee-track .content.bottom {
  padding: 10px;
  background-color: #a78bfa;
}

.marquee-track span {
  margin-right: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.marquee-top {
  transform: rotate(6deg) translateY(10px);
  transform-origin: center;
  z-index: 2;
}

.marquee-bottom {
  transform: rotate(-6deg) translateY(-10px);
  transform-origin: center;
  z-index: 1;
}

@media screen and (min-width: 2000px) {
  .marquee-top {
    transform: translateX(-50%) rotate(2deg) translateY(4px);
  }

  .marquee-bottom {
    transform: translateX(-50%) rotate(-2deg) translateY(-4px);
  }
}

@keyframes blink-scroll-indicator {
  0%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.4;
    transform: translateY(5px);
  }
}

.blink-scroll-indicator {
  animation: blink-scroll-indicator 1s infinite;
}

@keyframes blink-bounce {
  0%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.4;
    transform: translateY(5px);
  }
}

@keyframes hint-lifetime {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  8% {
    opacity: 1;
    transform: translateY(0);
  }
  92% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

@keyframes hint-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
}

@keyframes hint-bob {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
}

.hint-overlay {
  animation: hint-lifetime 10s ease-in-out forwards;
}

.hint-hand {
  animation: hint-blink 0.65s ease-in-out infinite,
    hint-bob 1.1s ease-in-out infinite;
}

@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

