.letter {
  display: inline-block;
  transition: transform 1.5s, opacity 1.5s;
  transform: translate(0, 0) rotate(0);
}

.exploded .letter {
  transform: translate(var(--random-x), var(--random-y))
    rotate(var(--random-rotate));
  opacity: 0;
}

.bottomText {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .letter {
    font-size: 16px;
  }

  .exploded {
    font-size: 14px; /* Certifique-se de que isso não interfira na animação */
  }

  .rotatingText p {
    text-align: center;
  }

  .absolute {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
  }

  .bottomText {
    bottom: 50px;
  }
}
