.letter {
  display: inline-block;
  transition: transform 0.8s;
}

.rotating-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bottomText {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .letter {
    font-size: 16px;
  }

  .exploded {
    font-size: 14px;
  }

  .rotating-text p {
    text-align: center;
  }

  .absolute {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
  }

  .bottomText {
    bottom: 50px;
    left: 2px;
  }
}
