.imageContainer {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.organicShape {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .imageContainer {
    width: 500px;
    height: 100vh;
  }
}
