.navbar {
  @apply fixed right-5 top-2 z-50  backdrop-blur-lg;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0;
}

.navbar a {
  color: #e2e8c0;
  cursor: pointer;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
